*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
}

body{
    background-color: #F6F8F9;
}

/* header */

 header > div {
    border: 1px solid white;
    background-color: white;
 }

 header{
    height: 100px;
    padding: 1px 10px;
 }


 .logo{
    height: 100%;
    vertical-align: middle;
 }

  h1{
    display: inline;
    vertical-align: middle;
}
/* end header */


/* start main container 1 */

 .todotop{
    background-color: white;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    padding: 20px 0px;
    border-radius: 20px;
 }

 .borderr{
     border: 1px solid #D3D7DB;
     border-radius: 10px;
     padding: 5px;
     margin-right: 10px;
     display: inline-block;
     font-size: 12px;

 }

/* end main container 1 */


 /* colors */

 .fwhite{
     color: white;
 }

 .fgrey{
     color:#D3D7DB ;
 }

.bcolorblue{
    background-color: #47ADF1;
}

.greencheckmark{
    display: inline-block;
    color: greenyellow;
    border-radius: 30px;
    border:1px solid greenyellow;
    margin: 10px 0px;
    width: 15px;
    height: 15px;
    font-size: 10px;
    text-align: center;
    vertical-align: middle;
}

.redcross{
    display: inline-block;
    color: red;
    border-radius: 30px;
    border:1px solid red;
    margin: 10px 0px;
    width: 15px;
    height: 15px;
    text-align: center;
    font-size: 10px;
    vertical-align: middle;
}
     


/* start main container 2 */

.todobottom{
    background-color: white;
    border-radius: 20px;
    width: 80%;
    margin: auto;
    margin-top: 1px;
    padding: 20px 0px;
 }
     


.ulist{
    font-size: 20px;
    line-height: 20px;
}

ul{
    list-style: none;
}
 
/* tickets */

.ticket{
     border: 1px solid #47ADF1;
     background-color: #47ADF1;
     font-size: 10px;
     border-radius: 60px;
     padding: 3px;
     color: white;
}

.ticketviolet{
     border: 1px solid #9C72E4;
     background-color: #9C72E4;
     font-size: 10px;
     border-radius: 60px;
     padding: 3px;
     color: white;
}

.ticketgreen{
     border: 1px solid #64C0A9;
     background-color: #64C0A9;
     font-size: 10px;
     border-radius: 60px;
     padding: 3px;
     color: white;
}

 .ticketorange{
     border: 1px solid #F29E33;
     background-color:  #F29E33;
     font-size: 10px;
     border-radius: 60px;
     padding: 3px;
     color: white;
}
  
.ticketlightviolet{
     border: 1px solid #D863A1;
     background-color:  #D863A1;
     font-size: 10px;
     border-radius: 60px;
     padding: 3px;
     color: white;
}

.ticketgreendeep{
     border: 1px solid #B0C926;
     background-color:  #B0C926;
     font-size: 10px;
     border-radius: 60px;
     padding: 3px;
     color: white;
}
    /* end tickets */


 .today {
    margin-top: 20px;
}