*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: sans-serif;
}

body{
    background-color: #F6F8F9;
}

/* header */

header{
    border:1px solid white;
    background-color: white;
    height: 90px;
    line-height: 90px;
    padding:10px;
}

.texttitle{
    display: inline-block;
    font-size: 35px;
    vertical-align: 15px;
}
/* end header */


/* start main container 1 */

 .container{
    background-color: white;
    margin:55px 260px;
    padding: 20px;
    width: 60%;
    height: 50px;
    display: inline-block;
 }

 .borderr{
     border: 1px solid #D3D7DB;
     border-radius: 10px;
     padding: 5px;

 }

/* end main container 1 */


 /* colors */

 .fwhite{
     color: white;
 }

 .fgrey{
     color:#D3D7DB ;
 }

.bcolorblue{
    background-color: #47ADF1;
}

.greencheckmark{
    display: inline-block;
    color: greenyellow;
    border-radius: 30px;
    border:1px solid greenyellow;
    margin: 10px 0px;
    width: 20px;
    height: 20px;
    font-size: 15px;
}

.redcross{
    display: inline-block;
    color: red;
    border-radius: 30px;
    border:1px solid red;
    margin: 10px 0px;
    width: 20px;
    height: 20px;
    font-size: 15px;
}
     


/* start main container 2 */

.container2{
    background-color: white;
    margin: 0px 260px;
    padding: 20px;
    width: 60%;
    height: 600px;
    display: inline-block;
 }
     


.ulist{
    font-size: 20px;
}

ul{
    list-style: none;
}
 
/* tickets */

.ticket{
     border: 1px solid #47ADF1;
     background-color: #47ADF1;
     font-size: 13px;
     border-radius: 60px;
     padding: 3px;
     color: white;
}

.ticketviolet{
     border: 1px solid #9C72E4;
     background-color: #9C72E4;
     font-size: 13px;
     border-radius: 60px;
     padding: 3px;
     color: white;
}

.ticketgreen{
     border: 1px solid #64C0A9;
     background-color: #64C0A9;
     font-size: 13px;
     border-radius: 60px;
     padding: 3px;
     color: white;
}

 .ticketorange{
     border: 1px solid #F29E33;
     background-color:  #F29E33;
     font-size: 13px;
     border-radius: 60px;
     padding: 3px;
     color: white;
}
  

 .today {
    margin-top: 20px;
}