*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #F6F8F9;
}

#headtitle{
    border:10px solid white;
    background-color: white;
    width: 100%;
    font-family: sans-serif;
    display: inline-block;
}


/* utility */

.fcolor{
    color: #051931;
}

.fcolorgrey{
    color: #C5CBD0;
}

.colorboard{
    background-color: #47ADF1;
}

/* utility */

.texttitle{
    display: inline-block;
    vertical-align: 14px;
}

#tasks{
    border: 20px solid white;
    width: 60%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 2px;
    margin-left: 220px;
    padding: 0px;
    background-color: white;
}


.bords{
    font-style: initial;
    display: inline-block;
    border: 1px solid #C5CBD0;
    border-radius: 8px;
    height: 20px;
    padding: 10px;
    line-height: 3px;
    vertical-align: middle;
}

.secondborder{
    border: 20px solid white;
    width: 60%;
    margin-top: 1px;
    margin-left: 220px;
    padding: 20em;
    background-color: white;
}